body{
    font-family: 'Syne Mono', monospace !important;
}
h1{
    font-family: 'Syne Mono', monospace !important;
}
p{
    font-family: 'Syne Mono', monospace !important;
}
a{
    font-family: 'Syne Mono', monospace !important;
}
li{
    font-family: 'Syne Mono', monospace !important;
}
ul{
    font-family: 'Syne Mono', monospace !important;
}
div{
    font-family: 'Syne Mono', monospace !important;
}
i{
    font-family: 'Syne Mono', monospace !important;
}
main{
    font-family: 'Syne Mono', monospace !important;
}
article{
    font-family: 'Syne Mono', monospace !important;
}
section{
    font-family: 'Syne Mono', monospace !important;
}
footer{
    font-family: 'Syne Mono', monospace !important;
}